<!DOCTYPE html>
<html lang="en">

<!--================================================================================
  Item Name: Materialize - Material Design Admin Template
  Version: 3.1
  Author: GeeksLabs
  Author URL: http://www.themeforest.net/user/geekslabs
================================================================================ -->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
  <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
  <title>Perfil Usuário</title>

  <!-- Favicons-->
  <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
  <!-- For Windows Phone -->


  <!-- CORE CSS-->
  
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->    
    <link href="css/custom/custom.min.css" type="text/css" rel="stylesheet" media="screen,projection">


  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>

<body>
  <!-- Start Page Loading -->
      <div id="loader-wrapper">
          <div id="loader"></div>        
          <div class="loader-section section-left"></div>
          <div class="loader-section section-right"></div>
      </div>
      <!-- End Page Loading -->


  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START HEADER -->
       <!-- START HEADER -->
        <header id="header" class="page-topbar">
              <!-- start header nav-->
              <div class="navbar-fixed">
                  <nav class="navbar-color">
                      <div class="nav-wrapper">
                          <ul class="left">
                            <li><h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1"><img src="images/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1></li>
                          </ul>
                           <div class="header-search-wrapper hide-on-med-and-down">
                        <i class="mdi-action-search"></i>
                        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Procure por Grupos/ Amigos"/>
                    </div>

                          <ul class="right hide-on-med-and-down">
                              <li>
                                  <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
                                      <i class="mdi-social-notifications"><small class="notification-badge">8</small></i>
                                  </a>
                              </li>
                          </ul>
                          <!-- notificações -->
                          <ul id="notifications-dropdown" class="dropdown-content">
                              <li>
                                <h5>Notificações Perfil</h5>
                              </li>
                              <li class="divider"></li>
                              <li>
                                <a href="#!"><i class="mdi-action-event"></i>Novos pedais agendados nos grupos que você participa </a>
                                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">Há 2 horas</time>
                              </li>
                              <li>
                                <a href="#!"><i class="mdi-action-question-answer"></i> Novas mensagens nos chats</a>
                                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">Há 3 dias</time>
                              </li>
                              <li>
                                <a href="#!"><i class="mdi-action-thumb-up"></i> Novas sugestões de Grupos e Pedais feitas por amigos</a>
                                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">Há 3 dias</time>
                              </li>
                              <li>
                                <a href="#!"><i class="mdi-content-markunread"></i> Amigos responderam a seus convites</a>
                                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">Há 3 dias</time>
                              </li>
                              <li>
                                <a href="#!"><i class="mdi-action-markunread-mailbox"></i>Novos convites de pedais agendados por diversos grupos</a>
                                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">Há 4 dias</time>
                              </li>
                              <li>
                                <h5>Notificações Administrador</h5>
                              </li>
                              <li class="divider"></li>
                              <li>
                                <a href="#!"><i class="mdi-social-person-add"></i> Você recebeu solicitação de novo membro</a>
                                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">Há 2 horas</time>
                              </li>
                              <li>
                                <a href="#!"><i class="mdi-action-thumb-up"></i> Membros Confirmaram presença em pedais</a>
                                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">Há 3 dias</time>
                              </li>
                              <li>
                                <a href="#!"><i class="mdi-action-thumb-down"></i> Membros cancelaram presença em pedais</a>
                                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">Há 3 dias</time>
                              </li>
                              <li>
                                <a href="#!"><i class="mdi-action-markunread-mailbox"></i> Você recebeu convite de Eventos Interpedais</a>
                                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">Há 4 dias</time>
                              </li>                        
                              <li>
                                <a href="#!"><i class="mdi-content-drafts"></i> Grupos aceitaram seu convite para Evento Interpedal</a>
                                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">Há 4 dias</time>
                              </li>                   
                          </ul>
                      </div>
                  </nav>
              </div>
              <!-- fim de notificações-->
        </header>
  <!-- END HEADER -->
  <!-- END HEADER -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START MAIN -->
  <div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">

            <!-- MENU-->
                <aside id="left-sidebar-nav">
                      <ul id="slide-out" class="side-nav fixed leftside-navigation">
                        <li class="user-details cyan darken-2">
                            <div class="row">
                                <div class="col col s4 m4 l4">
                                    <img src="images/thaiana.jpg" alt="" class="circle responsive-img valign profile-image">
                                </div>
                                <div class="col col s8 m8 l8">
                                    <ul id="profile-dropdown" class="dropdown-content">
                                        <li><a href="#"><i class="mdi-action-face-unlock"></i> Perfil</a>
                                        </li>
                                        <li><a href="#"><i class="mdi-action-assignment-ind"></i>Dados</a>
                                        </li>                                
                                        <li class="divider"></li>                              
                                        <li><a href="#"><i class="mdi-hardware-keyboard-tab"></i>Sair</a>
                                        </li>
                                        <li><a href="#"><i class="mdi-navigation-cancel"></i>Excluir Conta</a>
                                        </li>
                                    </ul>
                                    <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">Thaiana Sousa<i class="mdi-navigation-arrow-drop-down right"></i></a>                            
                                </div>
                            </div>
                        </li>
                        
                        
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-maps-directions-bike"></i> Criar grupo de Pedal</a>
                                    
                                </li>
                                <li class="bold"><a href="home-administrador-1.html" class="waves-effect waves-cyan"><i class="mdi-maps-local-library"></i> Home Administrador</a>
                        </li>
                                <li class="bold"><a href="alterar-dados-cadastrais.html" class="waves-effect waves-cyan"><i class="mdi-action-assignment-ind"></i> Alterar Dados Usuário</a>
                                </li>
                            </ul>
                        </li>
                      </ul>
                      <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
                </aside>    
            <!--FIM MENU-->


      <!-- //////////////////////////////////////////////////////////////////////////// -->

      <!-- START CONTENT -->
      <section id="content" style="min-height: 500px">
      
        
        <!--breadcrumbs start-->
            <div id="breadcrumbs-wrapper">
                      <!-- Search for small screen -->                  
                  <div class="container">
                    <div class="row">
                      <div class="col s12 m12 l12">
                        <h5 class="breadcrumbs-title">Perfil Usuário</h5>
                        <ol class="breadcrumbs">
                            <li><a href="home-app.html">Bikeunit</a></li>
                            <li class="active">Perfil Usuário</li>
                        </ol>
                      </div>
                    </div>
                  </div>
              </div>
        <!--breadcrumbs end-->
      <!-- END LEFT SIDEBAR NAV-->

      <!-- //////////////////////////////////////////////////////////////////////////// -->
              <!--inicio lista grande-->
              <div class="row  hide-on-med-and-down">
                <div class="col s12 m6 l4">
                 
                 <!--lista-->
                 <ul class="collapsible popout" data-collapsible="accordion" watch>
                      <!--1º item-->
                      <li ng-repeat="single in collapsibleElements">
                        <div class="collapsible-header"><i class="{{single.icon}} mdi-communication-location-on"></i>Grupos Próximo a Você</div>
                        <div class="collapsible-body">
                           <!--conteudo-->
                         
                          
                          <!--fim conteudo-->
                        </div>
                    </li>
                    <li ng-repeat="single in collapsibleElements">
                        <div class="collapsible-header"><i class="{{single.icon}} mdi-maps-directions-bike"></i>Grupos de Pedal que Participo</div>
                        <div class="collapsible-body">
                           <!--conteudo-->
                         
                          <iframe src="iframe-grupos-que-participo.html" style="width: 348px; height: 300px; border: none;"></iframe>
                          
                          <!--fim conteudo-->
                        </div>
                    </li>
                    <!--fim 1º item-->
                    <!--2º item-->
                    <li ng-repeat="single in collapsibleElements">
                        <div class="collapsible-header"><i class="{{single.icon}} mdi-action-done"></i>Pedais que Confirmei Presença</div>
                        <div class="collapsible-body">
                          <!--conteúdo-->
                          <iframe src="iframe-pedais-confirmados.html" style="width: 348px; height: 300px; border: none;"></iframe>
                          <!--fim de conteudo-->

                        </div>
                    </li>
                    <!--fim 2º item-->
                    <!--3º item-->
                    <li ng-repeat="single in collapsibleElements">
                        <div class="collapsible-header"><i class="{{single.icon}} mdi-content-markunread"></i>Status Convites Enviados</div>
                        <div class="collapsible-body">
                          <!--conteúdo-->
                          <iframe src="iframe-status-convites.html" style="width: 348px; height: 300px; border: none;"></iframe>
                          <!--fim de conteudo-->

                        </div>
                    </li>
                    <!--fim 3º item-->

                    <!--4º item--> 
                    <li ng-repeat="single in collapsibleElements">
                        <div class="collapsible-header"><i class="{{single.icon}} mdi-social-person-add"></i>Solicitação de Novos Amigos</div>
                        <div class="collapsible-body">
                           <!--conteúdo-->
                          <iframe src="iframe-solicitacao-amizade.html" style="width: 348px; height: 220px; border: none;"></iframe>
                          <!--fim de conteudo-->

                        </div>
                    </li>

                    <!--fim 4º item-->


                    <!--5º item-->
                    <li ng-repeat="single in collapsibleElements">
                        <div class="collapsible-header"><i class="{{single.icon}} mdi-social-people-outline"></i>Lista de Amigos</div>
                        <div class="collapsible-body">
                           <!--conteúdo-->
                          <iframe src="iframe-lista-amigos.html" style="width: 348px; height: 200px; border: none;"></iframe>
                          <!--fim de conteudo-->
                        </div>
                    </li>
                    <!--fim 5º item-->

                   

                </ul>
            </div>
        
                 <!--fim da lista grande-->

                 
                 

                
                <!--lado direito-->
                <!--tela grande-->
                 <div class="col s12 m4 l8">

                  <iframe src="iframe-timeline-tela-grande.html" class="col s12 m12 l12" style="height: 460px; border: none; "></iframe>

                 </div>
               

                 <!--fim do lado direito-->
             </div>
                   <!--fim tela grande-->


                   <!--inicio lista pequena-->
              <div class="row hide-on-med-and-up">
                <div class="col s12 m6 l4">
                 
                 <!--lista-->
                 <ul class="collapsible popout" data-collapsible="accordion" watch>
                      <!--1º item-->
                      <li ng-repeat="single in collapsibleElements">
                        <div class="collapsible-header"><i class="{{single.icon}} mdi-communication-location-on"></i>Grupos Próximo a Você</div>
                        <div class="collapsible-body">
                           <!--conteudo-->
                         
                          
                          <!--fim conteudo-->
                        </div>
                    </li>
                    <li ng-repeat="single in collapsibleElements">
                        <div class="collapsible-header"><i class="{{single.icon}} mdi-maps-directions-bike"></i>Grupos de Pedal que Participo</div>
                        <div class="collapsible-body">
                           <!--conteudo-->
                         
                          <iframe src="iframe-grupos-que-participo.html" style="width: 348px; height: 300px; border: none;"></iframe>
                          
                          <!--fim conteudo-->
                        </div>
                    </li>
                    <!--fim 1º item-->
                    <!--2º item-->
                    <li ng-repeat="single in collapsibleElements">
                        <div class="collapsible-header"><i class="{{single.icon}} mdi-action-done"></i>Pedais que Confirmei Presença</div>
                        <div class="collapsible-body">
                          <!--conteúdo-->
                          <iframe src="iframe-pedais-confirmados.html" style="width: 348px; height: 300px; border: none;"></iframe>
                          <!--fim de conteudo-->

                        </div>
                    </li>
                    <!--fim 2º item-->
                    <!--3º item-->
                    <li ng-repeat="single in collapsibleElements">
                        <div class="collapsible-header"><i class="{{single.icon}} mdi-content-markunread"></i>Status Convites Enviados</div>
                        <div class="collapsible-body">
                          <!--conteúdo-->
                          <iframe src="iframe-status-convites.html" style="width: 348px; height: 300px; border: none;"></iframe>
                          <!--fim de conteudo-->

                        </div>
                    </li>
                    <!--fim 3º item-->

                    <!--4º item--> 
                    <li ng-repeat="single in collapsibleElements">
                        <div class="collapsible-header"><i class="{{single.icon}} mdi-social-person-add"></i>Solicitação de Novos Amigos</div>
                        <div class="collapsible-body">
                           <!--conteúdo-->
                          <iframe src="iframe-solicitacao-amizade.html" style="width: 348px; height: 220px; border: none;"></iframe>
                          <!--fim de conteudo-->

                        </div>
                    </li>

                    <!--fim 4º item-->


                    <!--5º item-->
                    <li ng-repeat="single in collapsibleElements">
                        <div class="collapsible-header"><i class="{{single.icon}} mdi-social-people-outline"></i>Lista de Amigos</div>
                        <div class="collapsible-body">
                           <!--conteúdo-->
                          <iframe src="iframe-lista-amigos.html" style="width: 348px; height: 200px; border: none;"></iframe>
                          <!--fim de conteudo-->
                        </div>
                    </li>
                    <!--fim 5º item-->

                   

                </ul>
            </div>
        </div>
                 <!--fim da lista pequena-->

                 
                 

                
                <!--lado direito-->
                <!--tela pequena-->
                 <div class="row hide-on-med-and-up">
                 <div class="col s12 m4 l8">

                  <iframe src="iframe-timeline-tela-pequena.html" class="col s12 m12 l12" style="height: 460px; border: none; "></iframe>

                 </div>
                 <!--fim tela pequena-->
             </div>
                 <!--fim do lado direito-->

                  </div> 

                  </div>

                  </div>




      <!-- START FOOTER -->
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <span>Copyright © 2015 <a class="grey-text text-lighten-4" href="http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs" target="_blank">GeeksLabs</a> All rights reserved.</span>
        <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://geekslabs.com/">GeeksLabs</a></span>
        </div>
    </div>
  </footer>
  <!-- END FOOTER -->

      


    
    <!-- ================================================
    Scripts
    ================================================ -->
    
    <!-- jQuery Library -->
    <script type="text/javascript" src="js/plugins/jquery-1.11.2.min.js"></script>    
    <!--angularjs-->
    <script type="text/javascript" src="js/plugins/angular.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!--prism -->
    <script type="text/javascript" src="js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- chartist -->
    <script type="text/javascript" src="js/plugins/chartist-js/chartist.min.js"></script>   
    <!--sweetalert -->
    <script type="text/javascript" src="js/plugins/sweetalert/sweetalert.min.js"></script>   
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="js/plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="js/custom-script.js"></script>
    
    <script type="text/javascript">
    $(document).ready(function(){
        "use strict";
        
        $('.btn-message').click(function(){
          swal("Here's a message!");
        });
        
        $('.btn-title-text').click(function(){
          swal("Here's a message!", "It's pretty, isn't it?")
        });

        $('.btn-timer').click(function(){
          swal({
            title: "Auto close alert!",
            text: "I will close in 2 seconds.",
            timer: 2000,
            showConfirmButton: false
          });
        });
        
        $('.btn-success').click(function(){
          swal("Good job!", "You clicked the button!", "success");
        });
        
        $('.btn-warning-confirm').click(function(){
          swal({
            title: "Você tem ceteza?",
            text: "Seu nome será retirado da lista",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Sim, quero tirar meu nome da lista!',
            closeOnConfirm: false
          },
          function(){
            swal("Excluído!", "Você cancelou presença nesse pedal", "success");
          });
        });
        
        $('.btn-warning-cancel').click(function(){
          swal({
            title: "Você tem certeza?",
            text: "Seu nome sairá da lista para esse pedal!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'sim, pode tirar meu nome da lista!',
            cancelButtonText: "Continuar no pedal!",
            closeOnConfirm: false,
            closeOnCancel: false
          },
          function(isConfirm){
            if (isConfirm){
              swal("Excluido!", "Você cancelou presença nesse pedal!", "success");
            } else {
              swal("Cancelamento Abortado", "Que bom que você optou por comparecer :)", "error");
            }
          });
        });

        $('.btn-warning-cancel-sair-do-grupo').click(function(){
          swal({
            title: "Você tem certeza?",
            text: "você realmente deseja sair desse grupo?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'sim, quero sair desse grupo!',
            cancelButtonText: "Continuar no grupo!",
            closeOnConfirm: false,
            closeOnCancel: false
          },
          function(isConfirm){
            if (isConfirm){
              swal("Excluido!", "Você saiu desse grupo.", "success");
            } else {
              swal("Exclusão Abortada", "Que bom que você optou por permanecer no grupo :)", "error");
            }
          });
        });
        
        $('.btn-custom-icon').click(function(){
          swal({
            title: "Sweet!",
            text: "Here's a custom image.",
            imageUrl: 'images/favicon/apple-touch-icon-152x152.png'
          });
        });
        
        $('.btn-message-html').click(function(){
          swal({
            title: "HTML <small>Title</small>!",
            text: 'A custom <span style="color:#F8BB86">html<span> message.',
            html: true
          });
        });
        
        $('.btn-input').click(function(){
          swal({
            title: "An input!",
            text: 'Write something interesting:',
            type: 'input',
            showCancelButton: true,
            closeOnConfirm: false,
            animation: "slide-from-top",
            inputPlaceholder: "Write something",
          },
          function(inputValue){
            if (inputValue === false) return false;
        
            if (inputValue === "") {
              swal.showInputError("You need to write something!");
              return false;
            }
            
            swal("Nice!", 'You wrote: ' + inputValue, "success");
        
          });
        });
        
        $('.btn-theme').click(function(){
          swal({
            title: "Themes!",
            text: "Here's the Twitter theme for SweetAlert!",
            confirmButtonText: "Cool!",
            customClass: 'twitter'
          });
        });
        
        $('.btn-ajax').click(function(){
          swal({
            title: 'Tem certeza que deseja sair desse grupo?',
            text: 'Se sair, para entrar novamente terá que enviar outra solicitação.',
            type: 'info',
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
          }, function(){
            setTimeout(function() {
              swal('Você saiu desse grupo!');
            }, 2000);
          });
        });
        
    });
    </script>
</body>

</html>